:root {
    --nav-height: 65px;
}

body {
    background-color: rgb(36, 104, 177);
}

nav {
    height: var(--nav-height);
    margin-bottom: 1em;
    background-color: rgb(36, 104, 177);
    border-bottom: 2px solid black;
}

.jumbotron {
    background-color: rgb(252, 207, 0);
    padding-top: 1em;
}

.body-content {
    margin-top: calc(15px + var(--nav-height));
}

.card {
    margin: 1em;
    min-width: 20vw;
}

.fight-card {
    width: 200px;
    height: 150px;
}

.fight-card img {
    height: 100%;
}

.card-img-overlay {
    display:none;
    color: white;
}

.fight-overlay {
    width: 100%;
    height: 100%;
}

.card:hover > .card-img-overlay {
    display: block;
    background-color: rgba(28, 28, 28, 0.75);
}

img {
    object-fit: contain;
    height: 50%;
}

.border-color-white {
    border-color: white;
}

.border-color-black {
    border-color: black;
}